/*
header
 */
.header{
    box-sizing: border-box;
    height: 170px;
    padding: 50px 0;
    max-height: 170px;
}
.header logo{

}
.header nav.main-menu{

}
.header nav.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;

}
.header nav.main-menu li {
    float: left;
}
.header nav.main-menu a{
    display: inline-block;
    padding: 12px;
    color: #8d8d8d;
    font-size: 20px;
}
.header nav.main-menu i{
    font-size: 12px;
    color: #8d8d8d;
}
/*
clear fix
 */
.clearfix {
    clear: both;
}
.clearfix:after {
    clear: both;
    content: '';
    display: table;
}
/*
banner
 */
.banner{
    margin-top: -170px;
    height: 936px;
    width: 100%;
    background: url("../images/banner.jpg") top center;
    display: table;
}
.banner h1 {
    font-size: 83px;
    color: #000000;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.banner h1 span{
    color: #f66c27;
}
/*
phần home
 */
.home .images-home{
    margin-top: 75px;
    margin-right: 300px;
}
.home-right h4{
    margin-left: 150px;
    color: #ff7b38;
    font-size: 20px;
}
.home-right button{
    background: #f48146;
    width: 25%;
    padding: 6px 20px;
    border-radius: 32px;
    margin-left: 150px;
    color: white;
}
/*
phần help
 */
.row{
    width: 100%;
}
.help1{
    text-align: center;
    background: #eeeded;
}
.icon-help{
    padding-top: 20px;
    font-size: 50px;
}
.help1 h4{
    padding-top: 15px;
}
.help2{
    text-align: center;
    background: #ffffff;
}
.help2 h4{
    padding-top: 15px;
}
.icon-help2{
    padding-top: 20px;
    font-size: 40px;
}
.help2 p{
    font-size: 16px;
    padding-top: 15px;
}
.help3{
    text-align: center;
    background: #eeeded;
}
.icon-help3{
    padding-top: 20px;
    font-size: 50px;
}
.help3 h4{
    padding-top: 15px;
}
/*
phần map
 */
.map{
    text-align: center;
}
.row h3{
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    padding-top: 60px;
    font-size: 45px;
}
.row p{
    margin-left: 150px;
    color: #9b9b9b;
    font-size: 15px;
    margin-top: 30px;
}
.form-home input[type='read-more'] {
    background: #f66c27;
    color: #ffffff;
    display: inline-block;
    width: auto;
    padding: 6px 0;
    border-radius: 32px;
    font-size: 18px;
    text-align: center;
}
/*
Subscribe
 */
.subscribe{
    height: 360px;
    background: url("../images/subscribe.jpg");
    position: relative;
    text-align: center;
}
.subscribe .tim_kiem{
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 15%;
}
.subscribe .sub-enter{
    position: absolute;
    z-index: 2;
    bottom: 30%;
    left: 30%;
    line-height: 30px;
}
.subscribe .sub-enter input[type='text']{
    background: #ffffff;
    width: 60%;
    padding: 0px 10px;
    border-radius: 32px;
    border: none;
}
.subscribe .sub-enter input[type='submit']{
    background: #f48146;
    width: 20%;
    padding: 6px 20px;
    border-radius: 32px;
    border: none;
    box-shadow: 10px 10px 20px 5px #E57F4C;
    color: white;

}
/*
khachhang
 */
.khach-hang{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

/*
footer
 */
footer{
    background: linear-gradient(to right, #f66c27 50%, #ffffff 50%);
}
footer .contact-form{
    background: #f66c27;
    box-sizing: border-box;
    height: 700px;
}
.contact-form .content-form{
    background: #ffffff;
    padding: 60px;
    margin-top: 140px;
    margin-right: 100px;
}
.content-form input,textarea{
    border: none;
    border-bottom: 1px solid #c8c8c8;
    width: 100%;
    font-size: 15px;
    color: #777777;
}
.first-row input{
    width: 40%;
}
.first-row:after{
    content: '';
    clear: both;
}
.first-row input[name='email'] {
    float: right;
}
.content-form input[type='text']{
    padding: 10px;
}
.content-form input:focus,textarea:focus{
    outline: none;
}
.contact-form-row{
    margin-bottom: 20px;
}
.submit-row{
    text-align: center;
}
.contact-form input[type='submit'] {
    background: #f66c27;
    color: #ffffff;
    display: inline-block;
    width: auto;
    padding: 6px 20px;
    border-radius: 32px;
    font-size: 18px;
}
footer .contact-info{
    box-sizing: border-box;
    height: 700px;
    padding-left: 100px;
}
footer .contact-info h3{
    margin-top: 110px;
    font-size: 45px;
}
.line-contact-info{
    padding: 20px 0;
}
.line-contact-info h4 {
    color: #333333;
    font-size: 25px;
}
.line-contact-info p{
    font-size: 15px;
    max-width: 300px;
}
.line-contact-info p span {
    color: #f48146;
    background: #ffffff;
}
footer .social-icon i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #bbbbbb;
    text-align: center;
    color: #ffffff;
    margin-right: 20px;
}
footer .social-icon i:hover{
    background: #f48146;
}
/*
phần ảnh our-project
 */
.our-project {
    padding: 50px 0;
}

.our-project h3 {
    font-size: 45px;
    margin-bottom: 40px;
}

.our-project .project-col img {
    max-width: 100%;
    padding: 5px;
    border: 1px solid #eeeeee;
}

.our-project .project-col-1 img{
    height: 250px;
    width: auto;
}

.our-project .project-col-1 .project-item {
    margin-bottom: 90px;
}

.our-project.project-col-1 p {
    margin-bottom: 35px;
}
.our-project span {
    color: #f48146;
}

.our-project .project-col-1 a {
    background: #f48146;
    color: #ffffff;
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    border-radius: 32px;
}

.our-project .project-col-2 img{
    height: 650px;
    width: auto;
}

.our-project .project-col-3 img{
    height: 300px;
    width: auto;
    margin-bottom: 48px;
}
